/* Settings */
@import './settings/_fonts.css';
@import './settings/_variables.css';
@import './settings/_themes.css';

/* Generic */
@import './generic/_reset.css';

/* Elements */
@import './elements/_base.css';

/* Objects */
@import './objects/_layout.css';
@import './objects/_grid.css';

/* Components */
@import './components/_header.css';
@import './components/_toggle.css';
@import './components/_hero.css';
@import './components/_about.css';
@import './components/_cards.css';
@import './components/_tags.css';
@import './components/_contact.css';
@import './components/_footer.css';
@import './components/_toast.css';
@import './components/_actions.css';
@import './components/_button.css';
@import './components/_projects.css';

/* Utilities */
@import './utilities/_utilities.css';
